html{
    height: 100%;
}
body{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    box-sizing: border-box;
    width: 350px;
    height: 525px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 16px;
}

.screen {
    width: 300px;
    height: 80px;
    background-color: green;
}

.top-buttons {
    display: flex;
    background-color: aquamarine;
    width: 300px;
    height: 70px
    
}

.top-row {
    flex: 1 1 auto;
    background-color: beige;
    box-sizing: border-box;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
}

.top-column-middle, .top-column {
    flex: 1 1 auto;
    background-color: beige;
    box-sizing: border-box;
    border: solid 1px black;
}

.top-column-middle{
    flex: 1.75 1 auto;
}

.buttons {
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1 1 auto;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 1 auto;
    background-color: beige;
    box-sizing: border-box;
    border: solid 1px black;
}